.App {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../src/assets/alcalculator-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  padding: 128px;

  @media (max-width: 767px) {
    background-color: #facd3d;
    background-image: none;
    width: 100%;
    padding: 0;
  }
}
