.alcalculator {
  position: relative;
  width: 640px;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 805px;
  }
}

.logo {
  display: none;
  position: relative;
  top: 30px;

  @media (max-width: 767px) {
    display: block;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
  }
}

.logo--result {
  top: 0;

  @media (max-width: 767px) {
    display: none;
    position: relative;
    display: block;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
  }
}

.heading {
  padding-top: 15px;
  font-size: 2.6rem;
  text-align: center;
  color: #5626c4;
}

.heading--result {
  padding-top: 10px;
  font-size: 2.6rem;
  text-align: center;
  color: #5626c4;
}

.description {
  font-size: 1.6rem;
  color: #5626c4;
  background-color: #d5e885;
  font-weight: 600;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.input {
  font-size: 1.4rem;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #d5e885;
  margin-left: 10px;
  outline: 0;
  text-align: center;
}

.input--last {
  margin-bottom: 20px;
}

.button {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #d5e885;
  color: #5626c4;
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
}

.description-2 {
  font-size: 1.3rem;
  color: #5626c4;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.result {
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
