.alcalculator {
  position: relative;
  width: 640px;
  padding-bottom: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  width: 100px;
  height: 100px;
  background-image: url("../assets/spirits-logo.png");
  background-size: 132px;
}

.logo {
  display: none;
  position: relative;
  top: 30px;
}

.logo--result {
  display: none;
  top: 0;
}
/* 
.logo--spirits {
  width: 75px;
  margin-top: -35px;
  transform: translate(-35%, 0);
} */

.heading {
  padding-top: 15px;
  font-size: 2.6rem;
  text-align: center;
  color: #5626c4;
}

.heading--result {
  padding-top: 10px;
  font-size: 2.6rem;
  text-align: center;
  color: #5626c4;
}

.description {
  font-size: 1.6rem;
  color: #5626c4;
  background-color: #d5e885;
  font-weight: 600;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.input {
  font-size: 1.4rem;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #d5e885;
  margin-left: 10px;
  outline: 0;
  text-align: center;
}

.input--last {
  margin-bottom: 20px;
}

.button {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #d5e885;
  color: #5626c4;
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
}

.description-2 {
  font-size: 1.3rem;
  color: #5626c4;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.result {
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .alcalculator {
    width: 100%;
    max-width: 805px;
  }

  footer {
    display: none;
  }

  .logo {
    display: block;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
  }

  .logo--spirits {
    width: 95px;
    margin-top: -35px;
    transform: translate(-35%, 0);
  }

  .logo--result {
    position: relative;
    display: block;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
  }
}
